<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Complaint Form</title>
</head>
<style>
  #for {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 25%;
    right: 20%;
    height: 40%;
    width: 50%;
  }

  .b1 {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50%;
  }

  h1 {
    text-align: center;
  }

  input[type=text] {
    text-align: center;
  }

  textarea {
    text-align: center;
  }
</style>

<body>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <script>alert("{{ message }}")</script> {% endif %}

  {% endfor %}

  {% endif %}

  <div id="for">
    <h1>Complaint Form</h1> <br>
    <br>
    <form action="updatecomplaint" method="GET">
      <div class="form-group">
        <label for="exampleFormControlInput1">Contact No.</label><br>
        <input type="text" class="form-control" name="contact" id="exampleFormControlInput1" placeholder="">
      </div>
      <div id="b1">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Complaint Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="descript" rows="3"></textarea>
          <br>

          <input type="submit" value="Submit">
        </div>
      </div>
    </form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
</body>

</html>