<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
    <style>
        
        body{
            background-color: rgb(0, 217, 255);
        }
</style>
</head>
<body>
    <form action="submituserinfo" method="GET">
        <h1>!!!!!!!!!! The username entered by you is already in user</h1>
        <h3>Please enter the different username and try again</h3>
     <h1></h1>
    <h1>Register User in The Database</h1>
    <h3>Username= <input type="text" name="username"placeholder="Username"></h3>
    <h3>Password=<input type="text" name="password"placeholder="password"></h3>
        <button type="submit" value="Submit">Submit</button>
    </form>


</body>
</html>